<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">@</span>
    <input type="text" class="form-control" placeholder="Search by Username or Class" aria-describedby="basic-addon1" ng-model="stuCtr.search">
</div>
</br>
<div class="panel panel-default">
    <div class="panel-heading">Teachers  <span class="pull-right"> ---Click any title in header to order asc or desc---</span></div>
    <table class="table">
        <thead>
        <tr>
            <th ng-click="stuCtr.orderBy('id')">
                Id
            </th>
            <th ng-click="stuCtr.orderBy('name')">
                Name
            </th>
            <th ng-click="stuCtr.orderBy('age')">
                Age
            </th>
            <th >
                Class
            </th>

        </tr>
        </thead>
        <tr ng-repeat="student in stuCtr.students | filter:stuCtr.search | orderBy:stuCtr.sortBy:stuCtr.reverse">
            <td>
                {{student.id}}
            </td>
            <td>
                {{student.name}}
            </td>
            <td>
                {{student.age}}
            </td>
            <td>
                {{student.class}}
            </td>
        </tr>
    </table>
</div>